<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Content/script.js"></script>
    <script src="https://kit.fontawesome.com/f39dca7341.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="backgroundlayer1"></div>
    @RenderBody()
    <div class="bottom-container">
        <div class="bottom-label">All of the stuff in this website has been created by YABDEF without using any external sources.</div>
    </div>
    <div id="arrowkeys" class="usearrowkeys">
        <div class="arrows"><i class="fas fa-chevron-up"></i></div>
        <div class="arrows"><i class="fas fa-chevron-down"></i></div>
        <div class="arrows"><i class="fas fa-chevron-left"></i></div>
        <div class="arrows"><i class="fas fa-chevron-right"></i></div>
        <div class="arrow-label">USE ARROW KEYS TO NAVIGATE</div>
    </div>
</body>
</html>
